<h1>{{ name }}</h1>

<dl>
  <td>Nombre: </td>
  <dd> {{name}} </dd>

  <td>Edad: </td>
  <dd> {{age}} </dd>

  <td>Método: </td>
  <dd> {{ getHeroDescription() }} </dd>

  <td>Capitalización: </td>
  <dd> {{ capitalizedName }} </dd>
</dl>

<button
  *ngIf="name !== 'Thor'"
  (click)="changeHero()"
  class="btn btn-primary mx-2">
  Cambiar nombre
</button>

<button
  (click)="resetForm()"
  class="btn btn-primary ">
  Reset Form
</button>

<button
  *ngIf="age !== 30"
  (click)="changeAge()"
  class="btn btn-primary mx-2">
  Cambiar edad
</button>
